
.value-card
{
  padding: 2rem;
  width: fit-content;
  max-width: 19rem;
  display: flex;
  gap: 0.8rem;
  flex-direction: column;

  border-radius: 20px;
  background-color: var(--clr-gray-neutral-50);
}

.value-card__img
{
  max-width: 3rem;
}

.value-card__title
{
  font-weight: 700;
}

.value-card__desc
{
  max-width: 18rem;

  font-weight: 500;
  font-size: 0.9rem;
}
